html {
	scroll-behavior: smooth;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	height: max-content;
}

.photos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
}

.photos img {
	width: 100%;
	height: auto;
	cursor: pointer;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photos img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gallery {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}

.photos {
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.photos img:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adding a subtle shadow effect */
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: auto;
}

.lightbox-img {
	display: block;
	margin: 0 auto;
	max-width: 90%;
	max-height: 90%;
}

.close-btn {
	color: #fff;
	font-size: 40px;
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
}

.gallery > .photos > a > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.photos {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	/* grid-auto-rows: 200px; */
	grid-auto-flow: dense;
}

.photos .wide {
	grid-column: span 2;
}

.photos .tall {
	grid-row: span 2;
}

.photos .big {
	grid-column: span 2;
	grid-row: span 2;
}

.photos .extra-big {
	grid-column: span 1;
	grid-row: span 2;
	width: fit-content;
}

.photos > div {
	grid-column: span 4;
	grid-row: span 0.5;
}

.photos .extra-wide {
	grid-column: span 4;
	grid-row: span 0.5;
	height: 20vh;
}
video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	min-width: 1024px;
	max-height: 576px;
}

audio {
	margin-top: 3rem;
	width: 100%;
}

.description {
	grid-column: span 3;
	grid-row: span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e0d0d0;
	font-family: Georgia, serif;
	font-size: 20px;
}

.wide-description {
	grid-column: span 4;
	grid-row: span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e0d0d0;
	font-family: Georgia, serif;
	font-size: 20px;
}

.box-description {
	grid-column: span 2;
	grid-row: span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e0d0d0;
	font-family: Georgia, serif;
	font-size: 20px;
}

p {
	background-image: linear-gradient(
		-100deg,

		#52477d53 0%,
		#6b61736c 29%,
		#000000da 40%,
		#e10b0b7a 57%,
		#9f061aad 65%,
		#5db71da0 100%,
		#acae24bf 100%,
		#10c12abb 90%,
		#0a0c06 80%,
		#141407d9 85%,
		#3f32d8 90%,
		#281e80a7 100%,
		#090faf 100%,
		#a10e0e 100%,
		#be1212b1 100%,
		#a40e0e8a 100%,
		#a10d0d68 100%,
		#3e9cbc 100%,
		#4c94b8 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 300% auto;
	color: #fff;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	/* text-fill-color: transparent; */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 10s linear infinite;
	display: inline-block;
	font-size: 190px;
}

@keyframes textclip {
	0%,
	100% {
		background-position: 10% 0;
	}
	10%,
	90% {
		background-position: 10% 0;
	}
	20%,
	80% {
		background-position: 20% 0;
	}
	30%,
	70% {
		background-position: 30% 0;
	}
	40%,
	60% {
		background-position: 40% 0;
	}
	50% {
		background-position: 50% 0;
	}
}

/* Go to the top button */
#go-top {
	position: fixed;
	right: 15px;
	bottom: 15px;
}

#go-top a {
	background-color: #fff;
	color: rgb(45, 35, 35);
	border: 1px solid rgb(45, 35, 35);
	border-radius: 10%;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	display: flex;
	transition: opacity 0.3s linear;
}

#go-top a:hover {
	opacity: 0.7;
	background-color: rgb(45, 35, 35);
	color: #fff;
}
